*{
    margin:0;
    padding:0;
}

html
{
    min-height: 100%;
    position: relative;

}
body
{
    min-height: 100vh;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    background-color: #edede3;
  }

main
{
    min-height: 80vh;
}

footer
{
    position: absolute;
    left:0px;
    bottom:0px;
    height: 65px;
    width:100%;
    
}
     
.primerparrafo
{
    color: black;
}


.navegacion ul a
{
    color:white;
    text-decoration: none;
    font-size: medium;
    padding: 14px 16px;
    text-align: center;
    
}




.segundoparrafo
{
    color:blue;
}



.cabecera
{
    background-color: beige;
    
   
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.navegacion ul
{
    list-style: none;
    background-color: black;
    overflow: hidden;
    padding: 20px;
    height: 15px;
}

#img-header
{
    margin-top: -10px;
    margin-left: 350px;
    width: 100px;
    position:absolute;
    
    
}

.boton-enviar
{
   padding: 5px;
   
}


  
.contacto
{
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    padding-left: 30px;
}

.input
{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;

}

.formulario
{
    line-height: 50px;
    
}
  


.imagen-about-us
{
    width: 100%;
}

.texto-principal
{
    line-height: 30px;
}

li{
    display: inline;
    

}

.multimarcas
{
    width: 100%;
    
}

.multimarcas img
{
   display: inline-block;
    width: 180px;
    padding-top: 50px;
    margin: auto;
    
     
   
}

.fotos-main
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.fotos__informacion
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}





#financiacion
{
    width: 350px;
}

#sucursales
{
    width: 200px;
}

#cotizacion
{
    width: 410px;
}


#background-imagen
{
    background-image: url(./imagenes/background-img.jpg);
    background-size: contain;
}