*{
    margin:0;
    padding:0;
}

html
{
    min-height: 100%;
    position: absolute;
    

}
body
{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    background-image: url(./imagenes/background-img4.jpg);
    background-size: cover;
  }

main
{
    min-height: 100vh;
    
}

footer
{
    
    left:0px;
    bottom:0px;
    height: 65px;
    width:100%;
     background-color: black;
     color: white;
    
}
     
.primerparrafo
{
    color: black;
}


.navegacion ul a
{
    color:white;
    text-decoration: none;
    font-size: medium;
    padding: 14px 16px;
    text-align: center;
    
}




.segundoparrafo
{
    color:blue;
}



.cabecera
{
    background-color: beige;
    
   
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.navegacion ul
{
    list-style: none;
    background-color: black;
    display: flex;
    padding: 20px;
    height: 15px;
}

.boton-enviar
{
   padding: 5px;
   
}


  
.contacto
{
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    padding-left: 30px;
}

.input
{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;

}

.formulario
{
    line-height: 50px;
    
}
  


.imagen-about-us
{
    width: 100%;
    
}

.texto-principal
{
    line-height: 30px;
}

li{
    display: inline;
    

}

 /* informacion general index */
.fotos-main
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}
.fotos__informacion
{
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


@media screen and (max-width: 700px)
{
    .fotos-main
    {
        display:block;
    }

    .fotos__informacion
    {
        margin-left: auto;
        margin-right: auto;
    }

    .multimarcas__contenedor
    {
       display: none;
    }

    .navegacion ul
    {
       flex-direction: column;
       background-color: black;
       height: fit-content;
       padding: 10px;
    }
    .navegacion ul li
    {
        margin: 10px 10px;
        padding: 5px;
        background: rgba(0, 217, 255, 0.774);
        width: fit-content;

    }

}


/* fotos informacion general index */
#financiacion
{
    width: 300px;
}

#sucursales
{
    width: 200px;
}

#cotizacion
{
    width: 200px;
}


/* background en galeria */
#background-imagen
{
    background-image: url(./imagenes/background-img4.jpg);
    background-size: cover;
}
 

/* galeria de fotos */
.galeria__contenedor
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}



.img__galeria
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.img__galeria:hover 
{
    filter: opacity(0.9);
    transform: scale(1.04);
}

@media screen and (min-width:600px)
{
 .wide
{
    grid-column: span 2;
    grid-row: span 2;
    
}

.tall
{
    grid-row: span 2;
}

}


.tamaño__main
{
    color: white ;
    padding: 2%;
}

.texto__ubicacion
{
    color: white;
    padding: 2%;
}

.color-letras
{
    color: white;
}


/* descripcion galeria */
.modelo-auto
{
    color: white;
   position: absolute;
   bottom: 10px;
   left: 10px;
}


/* marcas en index */
.multimarcas__contenedor img
{
    width: 200px;
}
.multimarcas__contenedor
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: minmax(180px, auto);
    gap: 20px;
    padding: 20px;
    height: fit-content;
    
}

.multimarca__logos
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

